.container {
  background-color: #f1f3f7;
  height: 3000px;
}
.inner-circle {
  position:absolute; 
  top: 15%;
  left:15%;
  height: 140px;
  width: 140px; 
  border-radius: 150px;
  // vertical-align: middle;
  margin:auto;
  background: #f1f3f7;
  box-shadow:  7px 7px 14px #cdcfd2, 
             -7px -7px 14px #ffffff;
}

.outer-circle{
  position: relative; 
  align-content: center;
  vertical-align: middle;
  margin:auto;
  height: 200px;
  width: 200px; 
  border-radius: 50%;
  background: #f1f3f7;
  box-shadow:  7px 7px 14px #cdcfd2, 
             -7px -7px 14px #ffffff;
}

.person-head {
  position:absolute; 
  z-index: 100; 
  top: 15%;
  left:25%;
  height: 140*.5px;
  width: 140*.5px; 
  border-radius: 175px;
  background: linear-gradient(145deg, #46bde6, #53e1ff);
  box-shadow:  8px 8px 15px #42b3d9, 
              -8px -8px 15px #5af2ff;
}

.person-body {
  position:absolute; 
  top: 45%;
  left:15%;
  height: 140*.7px;
  width: 140*.7px; 
  border-radius: 175px;
  background: #4ed2ff;
  box-shadow: inset 21px 21px 42px #42b3d9, 
              inset -21px -21px 42px #5af2ff;
  clip-path: ellipse(62px 51px at 49px 25px);
}