<section class="top-section"> 
  <div class="top-left"></div>
  <div class="top-left-triangle"></div>
  <div class="navbar">
    <div class="navbar-left">
      Oppili LLC
    </div>
    <div class="navbar-right">
      <li>Home</li>
      <li>Services</li>
      <li>About</li>
    </div>
  </div>
  <div class="header-content">
    Header
  </div>
  <div class="bottom-right"></div>
</section>

<div class="test-left-wrapper">
  <div class="test-left-class">Left Arrow</div>
</div>
<div class="test-right-wrapper">
  <div class="test-right-class">Right Arrow</div>
</div>
